:root {
  --color-primary: #e3b748;
  --color-black: #121212;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #1d1d1d;
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  overflow-x: hidden;
}

img,
svg {
  display: block;
  max-width: 100%;
}
