.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: var(--color-black);
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 4rem 3rem;
}

.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4rem 2rem;
  gap: 85px;
}

.member {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 300px;
}
