.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 4rem;
  padding: 4rem;
  gap: 20px;
  background-color: rgba(71, 71, 71, 0.5);
}

.input1 {
  width: 276px;
  height: 53px;
  padding: 15px;
  font-size: 14px;
  border-radius: 8px 0px 0px 8px;
}

.input2 {
  width: 276px;
  height: 53px;
  padding: 15px;
  font-size: 14px;
}

.btn {
  width: 116px;
  height: 53px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border-radius: 0px 8px 8px 0px;
  background-color: #e3b748;
}
